@model GiphyApiResponse

<div class="card top-div">
    <iframe src="@Model.Giphy.data.embed_url" onerror="event.target.src='/images/404.gif'" class="card-img-top" alt="..."></iframe>

    <div class="img-div block card-body">
        <h5 class="card-title">@Model.Giphy.data.title &nbsp</h5>
        <p class="card-text">@Model.Giphy.data.type. &nbsp</p>
        @if (Model.pagination != null)
        {
            <div class="show">
                <a asp-controller="Home" asp-action="Details" asp-route-id="@Model.Giphy.data.id" class="btn btn-primary">Show details</a>
            </div>
        }
    </div>
</div>


