
@{
    ViewData["Title"] = "Details";
}
@model DataId;
<h1>Details</h1>
<h4>@Model.title</h4>
<h4>@Model.is_sticker</h4>
<h4>@Model.user</h4>
<iframe src="@Model.embed_url" class="card-img-top" alt="..."></iframe>

