body {
    background-color: peru;
}

.nav {
    background-color: darkslategray;
}

.block {
    background-color: darkgray;
}

.bod {
    background-color: burlywood;
}

iframe {
    width: 125px;
    height: 250px;
    object-fit: cover;   
}
.top-div {
    margin-top: 5px;
    position: relative;
}

.img-div {
    position:relative;
    height: 190px;
}

.show {
    position: absolute;
    bottom: 15px;
    width: 14rem;
}
